<a href="https://colab.research.google.com/github/Jyoshitha04/SQL/blob/main/Netflix_SQL_project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Netflix Dataset Analysis**

In [ ]:
import pandas as pd
import sqlite3 as sql

# Step 1: Load CSV into pandas DataFrame
df = pd.read_csv('netflix_titles.csv')

# Step 2: Connect to SQLite database (creates the database if it doesn't exist)
conn = sql.connect('database_netflix.db')

try:
    # Step 3: Write the DataFrame to the SQLite database
    df.to_sql('netflix_titles', conn, if_exists='replace', index=False)

    # Verify: Query the database
    result = pd.read_sql('SELECT * FROM netflix_titles', conn)
    print(result)

except Exception as e:
    print(f"An error occurred: {e}")

     show_id     type                  title         director  \
0         s1    Movie   Dick Johnson Is Dead  Kirsten Johnson
1         s2  TV Show          Blood & Water             None
2         s3  TV Show              Ganglands  Julien Leclercq
3         s4  TV Show  Jailbirds New Orleans             None
4         s5  TV Show           Kota Factory             None
...      ...      ...                    ...              ...
8802   s8803    Movie                 Zodiac    David Fincher
8803   s8804  TV Show            Zombie Dumb             None
8804   s8805    Movie             Zombieland  Ruben Fleischer
8805   s8806    Movie                   Zoom     Peter Hewitt
8806   s8807    Movie                 Zubaan      Mozez Singh

                                                   cast        country  \
0                                                  None  United States
1     Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...   South Africa
2     Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...           None
3                                                  None           None
4     Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...          India
...                                                 ...            ...
8802  Mark Ruffalo, Jake Gyllenhaal, Robert Downey J...  United States
8803                                               None           None
8804  Jesse Eisenberg, Woody Harrelson, Emma Stone, ...  United States
8805  Tim Allen, Courteney Cox, Chevy Chase, Kate Ma...  United States
8806  Vicky Kaushal, Sarah-Jane Dias, Raaghav Chanan...          India

     date_added  release_year rating   duration  \
0     25-Sep-21          2020  PG-13     90 min
1     24-Sep-21          2021  TV-MA  2 Seasons
2     24-Sep-21          2021  TV-MA   1 Season
3     24-Sep-21          2021  TV-MA   1 Season
4     24-Sep-21          2021  TV-MA  2 Seasons
...         ...           ...    ...        ...
8802  20-Nov-19          2007      R    158 min
8803   1-Jul-19          2018  TV-Y7  2 Seasons
8804   1-Nov-19          2009      R     88 min
8805  11-Jan-20          2006     PG     88 min
8806   2-Mar-19          2015  TV-14    111 min

                                              listed_in  \
0                                         Documentaries
1       International TV Shows, TV Dramas, TV Mysteries
2     Crime TV Shows, International TV Shows, TV Act...
3                                Docuseries, Reality TV
4     International TV Shows, Romantic TV Shows, TV ...
...                                                 ...
8802                     Cult Movies, Dramas, Thrillers
8803             Kids' TV, Korean TV Shows, TV Comedies
8804                            Comedies, Horror Movies
8805                 Children & Family Movies, Comedies
8806     Dramas, International Movies, Music & Musicals

                                            description
0     As her father nears the end of his life, filmm...
1     After crossing paths at a party, a Cape Town t...
2     To protect his family from a powerful drug lor...
3     Feuds, flirtations and toilet talk go down amo...
4     In a city of coaching centers known to train I...
...                                                 ...
8802  A political cartoonist, a crime reporter and a...
8803  While living alone in a spooky town, a young g...
8804  Looking to survive in a world taken over by zo...
8805  Dragged from civilian life, a former superhero...
8806  A scrappy but poor boy worms his way into a ty...

[8807 rows x 12 columns]

# **Analysis Queries**

# 1. Count the Number of Movies vs TV Shows

In [ ]:
query_1 = '''
    SELECT
        type,
        COUNT(*)
    FROM netflix_titles
    GROUP BY type;
    '''
result = pd.read_sql(query_1, conn)
print(result)

      type  COUNT(*)
0    Movie      6131
1  TV Show      2676

# Find the Most Common Rating for Movies and TV Shows

In [ ]:
query_2 = '''
    WITH RatingCounts AS (
        SELECT
            type,
            rating,
            COUNT(*) AS rating_count
        FROM netflix_titles
        GROUP BY type, rating
    ),
    RankedRatings AS (
        SELECT
            type,
            rating,
            rating_count,
            RANK() OVER (PARTITION BY type ORDER BY rating_count DESC) AS rank
        FROM RatingCounts
    )
    SELECT
        type,
        rating AS most_frequent_rating
    FROM RankedRatings
    WHERE rank = 1;
'''

# Execute the second query and print the results
result_2 = pd.read_sql(query_2, conn)
print(result_2)

      type most_frequent_rating
0    Movie                TV-MA
1  TV Show                TV-MA

# 3. List All Movies Released in a Specific Year (e.g., 2020)

In [ ]:
query_3 = '''
    SELECT *
    FROM netflix_titles
    WHERE release_year = 2020;
'''
result = pd.read_sql(query_3, conn)
print(result)

    show_id     type                                              title  \
0        s1    Movie                               Dick Johnson Is Dead
1       s17    Movie  Europe's Most Dangerous Man: Otto Skorzeny in ...
2       s18  TV Show                                    Falsa identidad
3       s33  TV Show                                      Sex Education
4       s35  TV Show                            Tayo and Little Wizards
..      ...      ...                                                ...
948   s5973    Movie                                   #cats_the_mewvie
949   s7595    Movie                 Norm of the North: Family Vacation
950   s8100    Movie                                        Straight Up
951   s8126  TV Show                                        Super Wings
952   s8133  TV Show          Surviving R. Kelly Part II: The Reckoning

                                          director  \
0                                  Kirsten Johnson
1    Pedro de Echave García, Pablo Azorín Williams
2                                             None
3                                             None
4                                             None
..                                             ...
948                               Michael Margolis
949                                   Anthony Bell
950                                  James Sweeney
951                                           None
952                                           None

                                                  cast  \
0                                                 None
1                                                 None
2    Luis Ernesto Franco, Camila Sodi, Sergio Goyri...
3    Asa Butterfield, Gillian Anderson, Ncuti Gatwa...
4    Dami Lee, Jason Lee, Bommie Catherine Han, Jen...
..                                                 ...
948                                               None
949  Andrew Toth, Lisa Durupt, Jonathan Holmes, Pau...
950  James Sweeney, Katie Findlay, Randall Park, Hi...
951  Luca Padovan, Evan Smolin, Junah Jang, Colin C...
952                                           R. Kelly

                               country date_added  release_year rating  \
0                        United States  25-Sep-21          2020  PG-13
1                                 None  22-Sep-21          2020  TV-MA
2                               Mexico  22-Sep-21          2020  TV-MA
3                       United Kingdom  17-Sep-21          2020  TV-MA
4                                 None  17-Sep-21          2020  TV-Y7
..                                 ...        ...           ...    ...
948                             Canada   5-Feb-20          2020  TV-14
949                      United States  25-May-20          2020  TV-Y7
950                      United States  26-Jun-20          2020  TV-MA
951  United States, South Korea, China   1-Dec-20          2020   TV-Y
952                      United States  13-Apr-20          2020  TV-MA

      duration                                          listed_in  \
0       90 min                                      Documentaries
1       67 min                Documentaries, International Movies
2    2 Seasons  Crime TV Shows, Spanish-Language TV Shows, TV ...
3    3 Seasons  British TV Shows, International TV Shows, TV C...
4     1 Season                                           Kids' TV
..         ...                                                ...
948     90 min                Documentaries, International Movies
949     89 min                           Children & Family Movies
950     96 min         Comedies, Independent Movies, LGBTQ Movies
951  3 Seasons                          Kids' TV, Korean TV Shows
952   1 Season                         Crime TV Shows, Docuseries

                                           description
0    As her father nears the end of his life, filmm...
1    Declassified documents reveal the post-WWII li...
2    Strangers Diego and Isabel flee their home in ...
3    Insecure Otis has all the answers when it come...
4    Tayo speeds into an adventure when his friends...
..                                                 ...
948  This pawesome documentary explores how our fel...
949  Stressed by his duties as king and father, Nor...
950  When a gay brainiac with OCD questions his ide...
951  A cheerful jet and his transforming pals striv...
952  As more women come forward with harrowing accu...

[953 rows x 12 columns]

# 4. Find the top 5 countries with the most content on Netflix

In [ ]:
# First, load the data into pandas from the database
df = pd.read_sql('SELECT country FROM netflix_titles WHERE country IS NOT NULL', conn)

# Split the 'country' column by commas into multiple rows
df['country'] = df['country'].str.split(',')

# Explode the list of countries into separate rows
df_exploded = df.explode('country')

# Trim any leading/trailing whitespace from country names
df_exploded['country'] = df_exploded['country'].str.strip()

# Group by country and count the occurrences
country_counts = df_exploded.groupby('country').size().reset_index(name='total_content')

# Sort by total_content in descending order and select the top 5
top_5_countries = country_counts.sort_values(by='total_content', ascending=False).head(5)

print(top_5_countries)

            country  total_content
116   United States           3690
46            India           1046
115  United Kingdom            806
21           Canada            445
37           France            393

# 5. Identify the longest movie

In [ ]:
query_5 = '''
    SELECT
        *
    FROM netflix_titles
    WHERE type = 'Movie'
    ORDER BY CAST(substr(duration, 1, instr(duration, ' ') - 1) AS INTEGER) DESC
'''

# Execute the query and display the result
result = pd.read_sql(query_5, conn)
print(result)

     show_id   type                                 title  \
0      s4254  Movie            Black Mirror: Bandersnatch
1       s718  Movie           Headspace: Unwind Your Mind
2      s2492  Movie                The School of Mischief
3      s2488  Movie                        No Longer kids
4      s2485  Movie                    Lock Your Girls In
...      ...    ...                                   ...
6126   s2714  Movie                           Sol Levante
6127   s3778  Movie                                Silent
6128   s5542  Movie                       Louis C.K. 2017
6129   s5795  Movie                 Louis C.K.: Hilarious
6130   s5814  Movie  Louis C.K.: Live at the Comedy Store

                               director  \
0                                  None
1                                  None
2                Houssam El-Din Mustafa
3                       Samir Al Asfory
4                     Fouad El-Mohandes
...                                 ...
6126                       Akira Saitoh
6127  Limbert Fabian, Brandon Oldenburg
6128                         Louis C.K.
6129                         Louis C.K.
6130                         Louis C.K.

                                                   cast        country  \
0     Fionn Whitehead, Will Poulter, Craig Parkinson...  United States
1     Andy Puddicombe, Evelyn Lewis Prieto, Ginger D...           None
2     Suhair El-Babili, Adel Emam, Saeed Saleh, Youn...          Egypt
3     Said Saleh, Hassan Moustafa, Ahmed Zaki, Youne...          Egypt
4     Fouad El-Mohandes, Sanaa Younes, Sherihan, Ahm...           None
...                                                 ...            ...
6126                                               None          Japan
6127                                               None  United States
6128                                         Louis C.K.  United States
6129                                         Louis C.K.  United States
6130                                         Louis C.K.  United States

     date_added  release_year  rating duration  \
0     28-Dec-18          2018   TV-MA  312 min
1     15-Jun-21          2021    TV-G  273 min
2     21-May-20          1973   TV-14  253 min
3     21-May-20          1979   TV-14  237 min
4     21-May-20          1982   TV-PG  233 min
...         ...           ...     ...      ...
6126   2-Apr-20          2020   TV-14    5 min
6127   4-Jun-19          2014    TV-Y    3 min
6128   4-Apr-17          2017  74 min     None
6129  16-Sep-16          2010  84 min     None
6130  15-Aug-16          2015  66 min     None

                                              listed_in  \
0        Dramas, International Movies, Sci-Fi & Fantasy
1                                         Documentaries
2                Comedies, Dramas, International Movies
3                Comedies, Dramas, International Movies
4       Comedies, International Movies, Romantic Movies
...                                                 ...
6126  Action & Adventure, Anime Features, Internatio...
6127         Children & Family Movies, Sci-Fi & Fantasy
6128                                             Movies
6129                                             Movies
6130                                             Movies

                                            description
0     In 1984, a young programmer begins to question...
1     Do you want to relax, meditate or sleep deeply...
2     A high school teacher volunteers to transform ...
3     Hoping to prevent their father from skipping t...
4     A widower believes he must marry off his three...
...                                                 ...
6126  A young warrior and her familiar search for th...
6127  "Silent" is an animated short film created by ...
6128  Louis C.K. muses on religion, eternal love, gi...
6129  Emmy-winning comedy writer Louis C.K. brings h...
6130  The comic puts his trademark hilarious/thought...

[6131 rows x 12 columns]

# 6. Find content added in the last 5 years

In [ ]:
query_last_5_years = '''
    SELECT *
    FROM netflix_titles
    WHERE date_added >= DATE('now', '-5 years')
'''
# Execute the query and fetch the results
recent_content = pd.read_sql(query_last_5_years, conn)

# Display the results
print(recent_content)

     show_id     type                  title                 director  \
0         s1    Movie   Dick Johnson Is Dead          Kirsten Johnson
1         s2  TV Show          Blood & Water                     None
2         s3  TV Show              Ganglands          Julien Leclercq
3         s4  TV Show  Jailbirds New Orleans                     None
4         s5  TV Show           Kota Factory                     None
...      ...      ...                    ...                      ...
3454   s8786  TV Show                    YOM                     None
3455   s8787    Movie           You Can Tutu              James Brown
3456   s8790    Movie    You Changed My Life      Cathy Garcia-Molina
3457   s8799    Movie               Zed Plus  Chandra Prakash Dwivedi
3458   s8802    Movie                Zinzana          Majid Al Ansari

                                                   cast  \
0                                                  None
1     Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...
2     Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...
3                                                  None
4     Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...
...                                                 ...
3454  Sairaj, Devyani Dagaonkar, Ketan Singh, Mayur ...
3455  Lily O'Regan, Jeannettsy Enriquez Borges, Joel...
3456  John Lloyd Cruz, Sarah Geronimo, Rayver Cruz, ...
3457  Adil Hussain, Mona Singh, K.K. Raina, Sanjay M...
3458  Ali Suliman, Saleh Bakri, Yasa, Ali Al-Jabri, ...

                           country date_added  release_year rating   duration  \
0                    United States  25-Sep-21          2020  PG-13     90 min
1                     South Africa  24-Sep-21          2021  TV-MA  2 Seasons
2                             None  24-Sep-21          2021  TV-MA   1 Season
3                             None  24-Sep-21          2021  TV-MA   1 Season
4                            India  24-Sep-21          2021  TV-MA  2 Seasons
...                            ...        ...           ...    ...        ...
3454                          None   7-Jun-18          2016  TV-Y7   1 Season
3455                United Kingdom  31-Dec-17          2017   TV-G     87 min
3456                   Philippines  27-Feb-19          2009  TV-PG    116 min
3457                         India  31-Dec-19          2014  TV-MA    131 min
3458  United Arab Emirates, Jordan   9-Mar-16          2015  TV-MA     96 min

                                              listed_in  \
0                                         Documentaries
1       International TV Shows, TV Dramas, TV Mysteries
2     Crime TV Shows, International TV Shows, TV Act...
3                                Docuseries, Reality TV
4     International TV Shows, Romantic TV Shows, TV ...
...                                                 ...
3454                                           Kids' TV
3455                           Children & Family Movies
3456             Comedies, Dramas, International Movies
3457             Comedies, Dramas, International Movies
3458            Dramas, International Movies, Thrillers

                                            description
0     As her father nears the end of his life, filmm...
1     After crossing paths at a party, a Cape Town t...
2     To protect his family from a powerful drug lor...
3     Feuds, flirtations and toilet talk go down amo...
4     In a city of coaching centers known to train I...
...                                                 ...
3454  With the mind of a human being, and the body o...
3455  A gifted young ballet dancer struggles to find...
3456  Laida and Miggy think they've found perfect ha...
3457  A philandering small-town mechanic's political...
3458  Recovering alcoholic Talal wakes up inside a s...

[3459 rows x 12 columns]

# 7. Find all the movies/TV shows by director 'Rajiv Chilaka'!

In [ ]:
# Step 1: Load the data from the database into a pandas DataFrame
df = pd.read_sql('SELECT * FROM netflix_titles', conn)

# Step 2: Split the 'director' column by commas into lists
df['director'] = df['director'].str.split(',')

# Step 3: Explode the lists into separate rows
df_exploded = df.explode('director')

# Step 4: Trim any leading or trailing spaces
df_exploded['director'] = df_exploded['director'].str.strip()

# Step 5: Filter for the specific director name 'Rajiv Chilaka'
filtered_df = df_exploded[df_exploded['director'] == 'Rajiv Chilaka']

# Step 6: Display the result
print(filtered_df)

     show_id   type                                              title  \
406     s407  Movie                       Chhota Bheem - Neeli Pahaadi
407     s408  Movie                              Chhota Bheem & Ganesh
408     s409  Movie                 Chhota Bheem & Krishna: Mayanagari
409     s410  Movie  Chhota Bheem & Krishna: Pataliputra- City of t...
410     s411  Movie                 Chhota Bheem And The Broken Amulet
411     s412  Movie             Chhota Bheem And The Crown of Valhalla
412     s413  Movie               Chhota Bheem and the Incan Adventure
413     s414  Movie                Chhota Bheem and The ShiNobi Secret
414     s415  Movie                           Chhota Bheem Aur Hanuman
415     s416  Movie                           Chhota Bheem aur Krishna
416     s417  Movie                Chhota Bheem aur Krishna vs Zimbara
419     s420  Movie                      Chhota Bheem: Bheem vs Aliens
420     s421  Movie               Chhota Bheem: Dholakpur to Kathmandu
421     s422  Movie                           Chhota Bheem: Dus Pe Dus
422     s423  Movie                     Chhota Bheem: Journey to Petra
423     s424  Movie                    Chhota Bheem: Master of Shaolin
424     s425  Movie                  Chhota Bheem: The Rise of Kirmada
2717   s2718  Movie              Chhota Bheem and the Curse of Damyaan
2737   s2738  Movie                            Mighty Raju Rio Calling
6297   s6298  Movie                                          Bheemayan
6464   s6465  Movie                        Chhota Bheem Kungfu Dhamaka
6645   s6646  Movie                              Dragonkala Ka Rahasya

           director                                               cast  \
406   Rajiv Chilaka  Vatsal Dubey, Julie Tejwani, Rupa Bhimani, Jig...
407   Rajiv Chilaka  Vatsal Dubey, Julie Tejwani, Rupa Bhimani, Jig...
408   Rajiv Chilaka  Vatsal Dubey, Julie Tejwani, Rupa Bhimani, Jig...
409   Rajiv Chilaka  Vatsal Dubey, Julie Tejwani, Rupa Bhimani, Jig...
410   Rajiv Chilaka  Vatsal Dubey, Julie Tejwani, Rupa Bhimani, Jig...
411   Rajiv Chilaka  Vatsal Dubey, Julie Tejwani, Rupa Bhimani, Jig...
412   Rajiv Chilaka  Vatsal Dubey, Julie Tejwani, Rupa Bhimani, Jig...
413   Rajiv Chilaka  Vatsal Dubey, Julie Tejwani, Rupa Bhimani, Jig...
414   Rajiv Chilaka  Vatsal Dubey, Julie Tejwani, Rupa Bhimani, Jig...
415   Rajiv Chilaka  Vatsal Dubey, Julie Tejwani, Rupa Bhimani, Jig...
416   Rajiv Chilaka  Vatsal Dubey, Julie Tejwani, Rupa Bhimani, Jig...
419   Rajiv Chilaka  Vatsal Dubey, Julie Tejwani, Rupa Bhimani, Jig...
420   Rajiv Chilaka  Vatsal Dubey, Julie Tejwani, Rupa Bhimani, Jig...
421   Rajiv Chilaka  Vatsal Dubey, Julie Tejwani, Rupa Bhimani, Jig...
422   Rajiv Chilaka  Vatsal Dubey, Julie Tejwani, Rupa Bhimani, Jig...
423   Rajiv Chilaka  Pooja Punabi, Mausam, Julie Tejwani, Rupa Bhim...
424   Rajiv Chilaka  Vatsal Dubey, Julie Tejwani, Rupa Bhimani, Jig...
2717  Rajiv Chilaka  Kaustav Ghosh, Jigna Bhardwaj, Chutki, Rajesh ...
2737  Rajiv Chilaka                                               None
6297  Rajiv Chilaka                                               None
6464  Rajiv Chilaka  Sonal Kaushal, Rupa Bhimani, Jigna Bharadhwaj,...
6645  Rajiv Chilaka                                               None

     country date_added  release_year rating duration  \
406     None  22-Jul-21          2013  TV-Y7   64 min
407     None  22-Jul-21          2009  TV-Y7   68 min
408     None  22-Jul-21          2011  TV-Y7   67 min
409     None  22-Jul-21          2010  TV-Y7   66 min
410    India  22-Jul-21          2013  TV-Y7   64 min
411     None  22-Jul-21          2013  TV-Y7   64 min
412     None  22-Jul-21          2013  TV-Y7   65 min
413     None  22-Jul-21          2013  TV-Y7   64 min
414     None  22-Jul-21          2012  TV-Y7   68 min
415    India  22-Jul-21          2009  TV-Y7   68 min
416     None  22-Jul-21          2013  TV-Y7   64 min
419     None  22-Jul-21          2010  TV-Y7   69 min
420     None  22-Jul-21          2012  TV-Y7   70 min
421     None  22-Jul-21          2014  TV-Y7   63 min
422     None  22-Jul-21          2011  TV-Y7   68 min
423     None  22-Jul-21          2011  TV-Y7   74 min
424     None  22-Jul-21          2012  TV-Y7   68 min
2717   India   1-Apr-20          2012  TV-Y7   87 min
2737   India   1-Apr-20          2014  TV-Y7   97 min
6297    None  10-May-19          2018   TV-Y   63 min
6464   India  15-Aug-19          2019  TV-Y7  112 min
6645    None  18-Jun-19          2018   TV-Y   68 min

                                    listed_in  \
406                  Children & Family Movies
407                  Children & Family Movies
408                  Children & Family Movies
409                  Children & Family Movies
410                  Children & Family Movies
411                  Children & Family Movies
412                  Children & Family Movies
413                  Children & Family Movies
414                  Children & Family Movies
415                  Children & Family Movies
416                  Children & Family Movies
419   Children & Family Movies, Sports Movies
420                  Children & Family Movies
421                  Children & Family Movies
422                  Children & Family Movies
423                  Children & Family Movies
424                  Children & Family Movies
2717                 Children & Family Movies
2737  Children & Family Movies, Sports Movies
6297                 Children & Family Movies
6464                 Children & Family Movies
6645                 Children & Family Movies

                                            description
406   Things get spooky when Bheem and his buddies t...
407   Bheem and Lord Ganesha join forces to save Dho...
408   Young lord Krishna has fallen for demoness Maa...
409   Krishna needs Bheem’s help: The ruined city of...
410   When a stranger tries to steal an amulet from ...
411   To save the kingdom of Valhalla from invasion ...
412   When Dholakpur’s princess is kidnapped, Bheem ...
413   After learning of a samurai village under thre...
414   When two evil entities kidnap a princess in a ...
415   Centuries after the end of a conqueror's rule,...
416   A demon of darkness is plotting world dominati...
419   Space invaders have kidnapped Dholakpur’s king...
420   Bheem’s holiday in Nepal takes an unexpected t...
421   After a precious temple stone is stolen under ...
422   The king has been away to meet an old friend, ...
423   Summoned by a monk to help reclaim a temple fr...
424   Bheem and young lord Krishna team up to protec...
2717  An evil demon who traded his freedom for immor...
2737  Mighty Raju preps for a new adventure in Rio d...
6297  It's Diwali! To celebrate, Chhota Bheem and hi...
6464  Chhota Bheem is in China for a martial arts co...
6645  Bheem helps to reopen Dragonpur's abandoned ma...

# 8. List all TV shows with more than 5 seasons

In [ ]:
query_8 = '''
    SELECT *
    FROM netflix_titles
    WHERE
        type = 'TV Show'
        AND CAST(SUBSTR(duration, 1, INSTR(duration, ' ') - 1) AS INTEGER) > 5
'''

# Execute the query and display the result
tv_shows = pd.read_sql(query_8, conn)
print(tv_shows)

   show_id     type                          title         director  \
0       s9  TV Show  The Great British Baking Show  Andy Devonshire
1      s56  TV Show                      Nailed It             None
2      s66  TV Show                   Numberblocks             None
3      s68  TV Show              Saved by the Bell             None
4      s83  TV Show                        Lucifer             None
..     ...      ...                            ...              ...
94   s8190  TV Show         The Andy Griffith Show             None
95   s8379  TV Show                     The L Word             None
96   s8443  TV Show              The Office (U.S.)             None
97   s8558  TV Show                  The West Wing             None
98   s8711  TV Show                          Weeds             None

                                                 cast                country  \
0   Mel Giedroyc, Sue Perkins, Mary Berry, Paul Ho...         United Kingdom
1                         Nicole Byer, Jacques Torres          United States
2   Beth Chalmers, David Holt, Marcel McCalla, Ter...         United Kingdom
3   Mark-Paul Gosselaar, Tiffani Thiessen, Mario L...          United States
4   Tom Ellis, Lauren German, Kevin Alejandro, D.B...          United States
..                                                ...                    ...
94  Andy Griffith, Ron Howard, Don Knotts, Frances...          United States
95  Jennifer Beals, Leisha Hailey, Laurel Holloman...  Canada, United States
96  Steve Carell, John Krasinski, Jenna Fischer, R...          United States
97  Martin Sheen, Rob Lowe, Allison Janney, John S...          United States
98  Mary-Louise Parker, Hunter Parrish, Alexander ...          United States

            date_added  release_year rating   duration  \
0            24-Sep-21          2021  TV-14  9 Seasons
1            15-Sep-21          2021  TV-PG  6 Seasons
2            15-Sep-21          2021   TV-Y  6 Seasons
3            15-Sep-21          1994  TV-PG  9 Seasons
4            10-Sep-21          2021  TV-14  6 Seasons
..                 ...           ...    ...        ...
94        July 1, 2017          1967   TV-G  8 Seasons
95      March 20, 2018          2009  TV-MA  6 Seasons
96     January 1, 2016          2012  TV-14  9 Seasons
97   December 25, 2015          2005  TV-14  7 Seasons
98            1-Apr-14          2012  TV-MA  8 Seasons

                                 listed_in  \
0             British TV Shows, Reality TV
1                               Reality TV
2                                 Kids' TV
3                    Kids' TV, TV Comedies
4   Crime TV Shows, TV Comedies, TV Dramas
..                                     ...
94          Classic & Cult TV, TV Comedies
95            Romantic TV Shows, TV Dramas
96                             TV Comedies
97                               TV Dramas
98                  TV Comedies, TV Dramas

                                          description
0   A talented batch of amateur bakers face off in...
1   Home bakers with a terrible track record take ...
2   In a place called Numberland, math adds up to ...
3   From middle school to college, best friends Za...
4   Bored with being the Lord of Hell, the devil r...
..                                                ...
94  Homespun humor and easygoing Sheriff Andy Tayl...
95  This trailblazing series follows the tangled l...
96  This hit comedy chronicles the foibles of disg...
97  This powerful political epic chronicles the tr...
98  A suburban mother starts selling marijuana to ...

[99 rows x 12 columns]

# 9. Count the number of content items in each genre

In [ ]:
query_9 = '''
WITH RECURSIVE split_genres AS (
    SELECT
        TRIM(SUBSTR(listed_in, 1, INSTR(listed_in || ',', ',') - 1)) AS genre,
        SUBSTR(listed_in, INSTR(listed_in || ',', ',') + 1) AS remaining
    FROM netflix_titles

    UNION ALL

    SELECT
        TRIM(SUBSTR(remaining, 1, INSTR(remaining || ',', ',') - 1)),
        SUBSTR(remaining, INSTR(remaining || ',', ',') + 1)
    FROM split_genres
    WHERE remaining <> ''
)

SELECT genre, COUNT(*) AS total_content
FROM split_genres
GROUP BY genre
'''

# Execute the query and display the result
genre_counts = pd.read_sql(query_9, conn)
print(genre_counts)

                           genre  total_content
0             Action & Adventure            859
1                 Anime Features             71
2                   Anime Series            176
3               British TV Shows            253
4       Children & Family Movies            641
5              Classic & Cult TV             28
6                 Classic Movies            116
7                       Comedies           1674
8                 Crime TV Shows            470
9                    Cult Movies             71
10                 Documentaries            869
11                    Docuseries            395
12                        Dramas           2427
13          Faith & Spirituality             65
14                 Horror Movies            357
15            Independent Movies            756
16          International Movies           2752
17        International TV Shows           1351
18                      Kids' TV            451
19               Korean TV Shows            151
20                  LGBTQ Movies            102
21                        Movies             57
22              Music & Musicals            375
23                    Reality TV            255
24               Romantic Movies            616
25             Romantic TV Shows            370
26              Sci-Fi & Fantasy            243
27           Science & Nature TV             92
28     Spanish-Language TV Shows            174
29                 Sports Movies            219
30               Stand-Up Comedy            343
31  Stand-Up Comedy & Talk Shows             56
32         TV Action & Adventure            168
33                   TV Comedies            581
34                     TV Dramas            763
35                     TV Horror             75
36                  TV Mysteries             98
37           TV Sci-Fi & Fantasy             84
38                      TV Shows             16
39                  TV Thrillers             57
40                 Teen TV Shows             69
41                     Thrillers            577

# 10. Find each year and the average numbers of content release by India on netflix. Return top 5 year with highest avg content release !

In [ ]:
query_10 = '''
SELECT
    country,
    release_year,
    COUNT(show_id) AS total_release,
    ROUND(
        COUNT(show_id) * 1.0 /
        (SELECT COUNT(show_id) FROM netflix_titles WHERE country = 'India') * 100,
        2
    ) AS avg_release
FROM netflix_titles
WHERE country = 'India'
GROUP BY country, release_year
ORDER BY avg_release DESC
LIMIT 5
'''

# Execute the query and display the result
result_10 = pd.read_sql(query_10, conn)
print(result_10)

  country  release_year  total_release  avg_release
0   India          2017            101        10.39
1   India          2018             94         9.67
2   India          2019             87         8.95
3   India          2020             75         7.72
4   India          2016             73         7.51

# 11. List all movies that are documentaries

In [ ]:
query_11 = '''
    SELECT * FROM netflix_titles
    WHERE listed_in LIKE '%Documentaries'
'''

result_11 = pd.read_sql(query_11, conn)
print(result_11)

    show_id   type                                        title  \
0        s1  Movie                         Dick Johnson Is Dead
1       s46  Movie                       My Heroes Were Cowboys
2      s118  Movie                                Final Account
3      s222  Movie  Bob Ross: Happy Accidents, Betrayal & Greed
4      s305  Movie          Lady Boss: The Jackie Collins Story
..      ...    ...                                          ...
378   s8724  Movie                     What Makes a Psychopath?
379   s8738  Movie                   Why Are We Getting So Fat?
380   s8739  Movie                                     Why Knot
381   s8740  Movie           Why We Fight: The Battle of Russia
382   s8764  Movie              WWII: Report from the Aleutians

                                   director            cast  \
0                           Kirsten Johnson            None
1                               Tyler Greco            None
2                              Luke Holland            None
3                               Joshua Rofé        Bob Ross
4                             Laura Fairrie  Jackie Collins
..                                      ...             ...
378                        Rebecca Harrison            None
379  Milla Harrison-Hansley, Alicky Sussman       Giles Yeo
380                            Dhruv Dhawan            None
381             Frank Capra, Anatole Litvak            None
382                             John Huston            None

                                               country date_added  \
0                                        United States  25-Sep-21
1                                                 None  16-Sep-21
2                        United Kingdom, United States   2-Sep-21
3                                                 None  25-Aug-21
4                                       United Kingdom   5-Aug-21
..                                                 ...        ...
378                                     United Kingdom   1-Feb-19
379                                     United Kingdom   1-Feb-19
380  Canada, India, Thailand, United States, United...  15-Oct-17
381                                      United States  31-Mar-17
382                                      United States  31-Mar-17

     release_year rating duration      listed_in  \
0            2020  PG-13   90 min  Documentaries
1            2021     PG   23 min  Documentaries
2            2021  PG-13   94 min  Documentaries
3            2021  TV-14   93 min  Documentaries
4            2021  TV-14   97 min  Documentaries
..            ...    ...      ...            ...
378          2017  TV-14   52 min  Documentaries
379          2016  TV-14   50 min  Documentaries
380          2016  TV-MA   84 min  Documentaries
381          1943  TV-PG   82 min  Documentaries
382          1943  TV-PG   45 min  Documentaries

                                           description
0    As her father nears the end of his life, filmm...
1    Robin Wiltshire's painful childhood was rescue...
2    This documentary stitches together never-befor...
3    Bob Ross brought joy to millions as the world’...
4    "Queen of Sleaze" or feminist pioneer? Powerho...
..                                                 ...
378  This wide-ranging documentary examines the beh...
379  A Cambridge geneticist dispels misconceptions ...
380  Pressured by his traditional family to marry, ...
381  This installment of Frank Capra's acclaimed do...
382  Filmmaker John Huston narrates this Oscar-nomi...

[383 rows x 12 columns]

# 12. Find all content without a director

In [ ]:
query_12 = '''
    SELECT * FROM netflix_titles
WHERE director IS NULL

'''

result_12 = pd.read_sql(query_12, conn)
print(result_12)

     show_id     type                                title director  \
0         s2  TV Show                        Blood & Water     None
1         s4  TV Show                Jailbirds New Orleans     None
2         s5  TV Show                         Kota Factory     None
3        s11  TV Show  Vendetta: Truth, Lies and The Mafia     None
4        s15  TV Show      Crime Stories: India Detectives     None
...      ...      ...                                  ...      ...
2629   s8796  TV Show                      Yu-Gi-Oh! Arc-V     None
2630   s8797  TV Show                           Yunus Emre     None
2631   s8798  TV Show                            Zak Storm     None
2632   s8801  TV Show                   Zindagi Gulzar Hai     None
2633   s8804  TV Show                          Zombie Dumb     None

                                                   cast  \
0     Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...
1                                                  None
2     Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...
3                                                  None
4                                                  None
...                                                 ...
2629  Mike Liscio, Emily Bauer, Billy Bob Thompson, ...
2630  Gökhan Atalay, Payidar Tüfekçioglu, Baran Akbu...
2631  Michael Johnston, Jessica Gee-George, Christin...
2632  Sanam Saeed, Fawad Khan, Ayesha Omer, Mehreen ...
2633                                               None

                                            country date_added  release_year  \
0                                      South Africa  24-Sep-21          2021
1                                              None  24-Sep-21          2021
2                                             India  24-Sep-21          2021
3                                              None  24-Sep-21          2021
4                                              None  22-Sep-21          2021
...                                             ...        ...           ...
2629                                  Japan, Canada   1-May-18          2015
2630                                         Turkey  17-Jan-17          2016
2631  United States, France, South Korea, Indonesia  13-Sep-18          2016
2632                                       Pakistan  15-Dec-16          2012
2633                                           None   1-Jul-19          2018

     rating   duration                                          listed_in  \
0     TV-MA  2 Seasons    International TV Shows, TV Dramas, TV Mysteries
1     TV-MA   1 Season                             Docuseries, Reality TV
2     TV-MA  2 Seasons  International TV Shows, Romantic TV Shows, TV ...
3     TV-MA   1 Season  Crime TV Shows, Docuseries, International TV S...
4     TV-MA   1 Season       British TV Shows, Crime TV Shows, Docuseries
...     ...        ...                                                ...
2629  TV-Y7  2 Seasons                             Anime Series, Kids' TV
2630  TV-PG  2 Seasons                  International TV Shows, TV Dramas
2631  TV-Y7  3 Seasons                                           Kids' TV
2632  TV-PG   1 Season  International TV Shows, Romantic TV Shows, TV ...
2633  TV-Y7  2 Seasons             Kids' TV, Korean TV Shows, TV Comedies

                                            description
0     After crossing paths at a party, a Cape Town t...
1     Feuds, flirtations and toilet talk go down amo...
2     In a city of coaching centers known to train I...
3     Sicily boasts a bold "Anti-Mafia" coalition. B...
4     Cameras following Bengaluru police on the job ...
...                                                 ...
2629  Now that he's discovered the Pendulum Summonin...
2630  During the Mongol invasions, Yunus Emre leaves...
2631  Teen surfer Zak Storm is mysteriously transpor...
2632  Strong-willed, middle-class Kashaf and carefre...
2633  While living alone in a spooky town, a young g...

[2634 rows x 12 columns]

# 13. Find how many movies actor 'Salman Khan' appeared in last 10 years!

In [ ]:
query_13 = '''
SELECT *
FROM netflix_titles
WHERE
    "cast" LIKE '%Salman Khan%'
    AND release_year > strftime('%Y', 'now', '-10 years')
'''

# Execute the query and display the result
result_13 = pd.read_sql(query_13, conn)
print(result_13)

  show_id   type                 title             director  \
0   s2340  Movie  Prem Ratan Dhan Payo   Sooraj R. Barjatya
1   s2757  Movie             Paharganj  Rakesh Ranjan Kumar

                                                cast country date_added  \
0  Salman Khan, Sonam Kapoor, Anupam Kher, Neil N...   India  25-Jun-20
1  Lorena Franco, Bijesh Jayarajan, Neet Chowdhar...   India  31-Mar-20

   release_year rating duration  \
0          2015  TV-14  164 min
1          2019  TV-MA  107 min

                                          listed_in  \
0  Action & Adventure, Dramas, International Movies
1  Dramas, Independent Movies, International Movies

                                         description
0  While recovering from an assassination attempt...
1  In the underbelly of a Delhi neighborhood, a w...

# 14. Find the top 10 actors who have appeared in the highest number of movies produced in India.

In [ ]:
import pandas as pd

# Assuming 'df' is your DataFrame with the Netflix dataset
# Filter for Indian movies
india_movies = df[df['country'] == 'India']

# Split the cast column and explode to get individual actors
top_actors = india_movies['cast'].str.split(', ').explode()

# Count the occurrences of each actor
top_actors_count = top_actors.value_counts().head(10)

# Display the results
print(top_actors_count)

cast
Anupam Kher         40
Shah Rukh Khan      32
Naseeruddin Shah    29
Amitabh Bachchan    28
Akshay Kumar        28
Paresh Rawal        27
Om Puri             26
Kareena Kapoor      24
Boman Irani         23
Ajay Devgn          20
Name: count, dtype: int64

# Question 15:
Categorize the content based on the presence of the keywords 'kill' and 'violence' in
the description field. Label content containing these keywords as 'Bad' and all other
content as 'Good'. Count how many items fall into each category.

In [ ]:
query_15 = '''
    SELECT
        category,
        type,
        COUNT(*) AS content_count
    FROM (
        SELECT
            *,
            CASE
                WHEN description LIKE '%kill%' OR description LIKE '%violence%' THEN 'Bad'
                ELSE 'Good'
            END AS category
        FROM netflix_titles
    ) AS categorized_content
    GROUP BY category, type
    ORDER BY type;
'''
# Execute the query and fetch the results
content_categories = pd.read_sql(query_15, conn)

# Display the results
print(content_categories)

  category     type  content_count
0      Bad    Movie            251
1     Good    Movie           5880
2      Bad  TV Show             91
3     Good  TV Show           2585